# AI Workbench
.project/*
!.project/spec.yaml
!.project/configpacks
.ansible

.idea/
result*
.direnv/
.ruff_cache/
__pycache__/
.vscode/
.env
.env.jetson
*.wav
venv/
.venv/
riva_quickstart_*

# Ignore any local models.
models/

# Ignore CProfile outputs
*.prof

# Ignore test coverage files
.coverage
test_report.xml
coverage_report.xml

# Ignore generated output
output/

# Ignore docs
docs/build/

# Ignore .DS_Store
.DS_Store

*.log
nim_cache/
asr_cache/
tts_cache/
llm_cache/
audio_dumps/

webrtc_ui/node_modules/

# Ignore generated or temporary files managed by the Workbench

# General ignores

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Temp directories, notebooks created by jupyterlab
.ipynb_checkpoints
.Trash-*/
.jupyter/
.local/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Workbench Project Layout
data/scratch/*
!data/scratch/.gitkeep